@import "../../../styles/var";

.link {
  position: relative;
  display: block;
}

.title {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0 0.2rem;
  color: #fff;
  background: rgba(0, 0, 0, .4);
}

.text {
  display: block;
  padding-right: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.imgWrap {
  background-size: 1.4rem auto;
}

.img {
  width: 100%;
  height: 50.6667vw;
  max-height: 506.667px;
}

.root {
  position: relative;
}