.root {
  background: #fafafa;
  height: 1.08rem;
  padding: 0 0.54rem;
}

.ico {
  color: #737373;
  font-size: 0.4rem;
}

.right {
  border-radius: 0.04rem;
  background: #eb413d;
  padding: 0.1rem 0.18rem;
  font-size: 0.3rem;
  color: #fff;
}