// 插件样式的覆盖调整
.my-carousel {
  .am-carousel-wrap-dot {
    span {
      width: 0.1rem;
      height: 0.1rem;
      background: #ddd;
    }
  }
  .am-carousel-wrap-dot-active {
    span {
      background: #eb413d;
    }
  }
  .slider-decorator-0 {
    z-index: 20;
  }
  .am-carousel-wrap {
    line-height: 2;
    text-align: right;
  }
}