// 公用的颜色样式
// 字体色
.c-main {
 color: #eb413d;
}

.c-text {
  color: #333;
}

.c-tip {
  color: #bebebe;
}

// 背景色
.bg-main {
  background-color: #eb413d;
}

.bg-default {
  background-color: #fafafa;
}

.bg-white {
  background-color: #fff;
}

.bg-trans {
  background-color: rgba(0, 0, 0, .4)
}

