@import "../../../styles/var";

.root {
  background-color: #ececec;
  background-image: url("../../../images/logo2gray.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.img {
  display: block;
}