.home, .hot, .me {
  color: #DF3031;
  &:hover, &:active {
    color: #DF3031;
  }
}

.home i:before {
  content: "\e913";
}

.hot i:before {
  content: "\e915";
}

.me i:before {
  content: "\e917";
}