.common {
  height: 0.74rem;
  min-width: 0.5rem;
}

.box {
  &:before {
    position: absolute;
    z-index: 10;
    top: 0.12rem;
    left: 0.24rem;
    font-family: 'minooo'!important;
    content:'\e90f';
    font-size: 0.38rem;
    color: #aaa;
  }
}

.input {
  composes: common;
  border-bottom: 0.03rem solid #d9d9d9;
  padding-left: 0.78rem;
  &::placeholder {
    color: #aaa;
  }
}

.inputActive {
  composes: common;
  border-bottom: 0.03rem solid #39b7e5;
  padding-left: 0.24rem;
}

.btn {
  color: #1f88e5;
  background: none;
}